   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       text-decoration: none;
       list-style: none;
       scroll-behavior: smooth;

   }

   a {
       text-decoration: none;
       color: #00458B;
   }

   :root {

       --bg-color: #FFFFFF;
       --second-bg-color: #202020;
       --text-color: #00458B;
       --second-color: #5f5c5c;
       --main-color: #3FD2C7;
       --big-font: 5rem;
       --h2-font: 2.5rem;
       --p-font: 1.1rem;

   }

   body {
       background: var(--bg-color);
       color: var(--text-color);
   }

   header {
       position: fixed;
       width: 100%;
       top: 0;
       right: 0;
       z-index: 9999;
       display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: #FFF;
       padding: 22px 15%;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
       transition: all .45s ease;
       border-radius: 5px;

   }


   .section {
       padding: 160px 15% 120px;
   }


   .logo {
       color: var(--text-color);
       font-size: 1.2rem;
       font-weight: 700;
       letter-spacing: 1px;


   }
   .logo:hover{
    color:var(--main-color);
   }
   .logo:hover span{
    color:var(--text-color);
   }

   .navlist {
       display: flex;
       justify-content: center;
       align-items: center;
       list-style: none;
       margin: 0;
       padding: 0;


   }

   .mobile-navlist {
       border-radius: 5px;
       margin: 1rem;
   }

   .navlist a {
       text-decoration: none;
       color: var(--second-color);
       font-size: 1rem;
       font-weight: bold;
       margin: 0 1rem;
       transition: all .45s ease;

   }

   .navlist a:hover {
       color: var(--main-color);
   }



   .nav-item.active a{
    color: var(--main-color);
   }

   span {
       color: var(--main-color);
   }


   .fa-bars {
       font-size: 35px;
       z-index: 1001;
       cursor: pointer;
       margin-left: 1rem;
       color: var(--main-color);
       display: none !important;
   }

   .fa-bars-staggered:before {
       content: '\f00d';
       font-size: 35px;
       z-index: 1001;
       cursor: pointer;
       margin-left: 1rem;
       color: var(--main-color);

   }

   .fa-whatsapp {
    color: #25D366;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-facebook {
    color: #1877F2;
}

.fa-github {
    color: #181717;
}

.fa-envelope-open-text {
    color: #D14836;
}

.fa-instagram {
    color: #E4405F;
}

.fa-free-code-camp {
    color: #006400;
}

.fa-laptop-code {
    color: #FFA116;
}


.typed-out {
    overflow: hidden;
    border-right: .15em solid;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 2.5s steps(50, end) forwards, blinking 1.2s infinite;

}

.Typed-out {
    overflow: hidden;
    border-right: .15em solid;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 2.5s steps(50, end) forwards, blinking 1.2s infinite;

}

@keyframes blinking {
    from {
        border-color: transparent
    }

    to {
        border-color: var(--text-color);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}



   .home {
       display: flex;
       align-items: center;
       


   }

   .home_container {
       display: grid;
       align-items: center;
       padding: 1rem;
       background-color: #FFF;


   }

   .home_content {
       grid-template-columns: .5fr 3fr;
       align-items: center;

   }

   .home_social {
       display: grid;
       grid-template-columns: max-content;
       row-gap: 1rem;

   }

   .home_social-icon {
       font-size: 1.5rem;
       color: var(--text-color);

   }

   .home_social-icon:hover {
       transform: scale(1.25);
       transition: transform 0.5s;
   }


   .slide {
       margin-bottom: 20px;
   }

   .home-text {
       margin-left: 10rem;


   }

   .one {
       display: inline-block;
       margin-right: 15px;
       height: 32px;
       padding: 0 15px;
       line-height: 32px;
       font-size: 20px;
       font-weight: 500;
       border-radius: 5px;
       background: var(--main-color);
       color: #FFF;
   }

   .two {
       display: inline-block;
       font-size: 20px;
       font-weight: 500;
       color: var(--second-color);
   }

   .home-text h1 {

       font-size: var(--big-font);
       font-weight: 700;
       color: var(--text-color);
       list-style: 1.1;
       margin: 0 0 8px;

   }

   .home-text h3 {
       font-size: 2rem;
       font-weight: 700;
       color: var(--text-color);
       list-style: 1.1;
       margin: 0 0 35px;
   }

   .home-text p {
       font-size: var(--p-font);
       color: var(--second-color);
       list-style: 1.8;
       margin-bottom: 40px;
       font-weight: 500;
   }

   .home_scroll {
       margin-right: 0;
   }

   .home_scroll-button:hover {
       transform: translateY(.25rem);
   }

   .home_scroll-name {

       color: #b0b0b0;
       font-weight: 500;

   }

   .home_scroll-arrow {
       font-size: 1.25rem;
       transition: .3s;
       color: var(--main-color);
       padding: .5rem;

   }

   .button {

       margin-top: 1rem;
       color: #FFF;
       border-radius: .5rem;
       display: inline-block;

   }

   .button:hover {

       color: #FFF;
   }


   .about-img {
       position: relative;
       display: inline-block;
       overflow: hidden;
       width: 100%;
       height: auto;
       border-radius: 10px;
   }

   .about-img img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       transition: transform 0.3s ease;
   }



   .about {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       align-items: center;
       gap: 1.5rem;
       
   }

   .about-text h2 {
       font-size: var(--h2-font);
       line-height: 1;
   }

   .about-text h4 {
       font-size: 24px;
       font-weight: 600;
       color: var(--text-color);
       line-height: 1.7;
       margin: 15px 0 30px;

   }

   .about-text p {
       color: var(--second-color);
       font-size: var(--p-font);
       line-height: 1.8;
       margin-bottom: 2rem;
       font-weight: 500;
   }

   .main-text {
       text-align: center;
   }

   .main-text p {
       color: var(--second-color);
       font-size: 15px;
       margin-bottom: 15px;
       font-weight: 500;
   }

   .main-text h2 {
       font-size: var(--h2-font);
       line-height: 1;
   }

   .skills-content {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(150px, auto));
       align-items: center;
       gap: 1rem;
       margin-top: 5rem;
   }

   .skills {
       padding: 160px 10% 120px;
       
   }

   .skills img{
    width:50px;
    height:50px;
   }



.soft-skills{
border: 1px solid;

}

.soft-skills span{
   
    padding: .5rem;
    display: inline-block;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    transition: all .45s ease;
    border-left: 5px solid;
    margin-right: 1rem;
    
}




   .box {
       background: var(--bg-color);
       padding: 1rem;
       transition: all .45s ease;
       text-align: center;
       
       
   }

   .s-icons i {
       font-size: 32px;
   }

   .box h3 {
       font-size: 24px;
       font-weight: 600;
       color: var(--text-color);
       margin-bottom: 15px;
       margin-top: 1rem;
       text-align: center;
       
   }

   .box p {
       font-size: 1rem;
       line-height: 1.8;
       color: var(--second-color);
       margin-bottom: 25px;
       text-align: left;
   }

   .box:hover {
       transform: translateY(-8px);
       cursor: pointer;
   }
   .skills-scroll{
   margin-top: 2rem;
    text-align: center;
   }

   .education-content{
    
    margin-top: 5rem;

   }
   .education-box{
   
    width:100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding:1rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    transition: all .45s ease;
    border-left: 5px solid;
   }
   .education-box:hover{
    transform: translateX(-8px);


   }
   .education-box h3{
    font-size: 1.2rem;
   }
   .education-box h2{
    font-size: 1rem;
    color: #b0b0b0;
   }
   .education-box h2 a{
    color: #b0b0b0;
   }
   .education-box h2 a:hover{
    color: #0000FF;
    text-decoration: underline;
   }

   .education-box img{
    width:50px;

   }
   .michaels-section img{
    width:30px;
   }
   .education-span{
    font-size: 1rem;
    color: var(--text-color);
   }

   .projects{
   
   }
   .project-content{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       
       gap: 1rem;
       margin-top: 2rem;
   }
  .project-box{
  
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all .45s ease;
    top: 0;
   
  
   }
   .project-box:hover{
    transform: translateY(-8px);
   }
   .project-box img{
    width:100%;
 
    padding: 1rem;
    
   }
   .project-content .project-box h1{
    font-size: 1.2rem;
    text-align: center;
    
   }
   .project-box h2{
    font-size: 1rem;
    text-align: center;
    color:#ede7e7;
   }
   .project-box-header{
    background-color: var(--main-color);
    color: #FFF;
    padding: .5rem 0 .5rem 0;
    border-radius:  5px 5px 0 0;
   }
   .project-box a{
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    display: block;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background-color:var(--main-color);
    color: #FFF;
    
   }
   .project-box a:hover{
   
   }
   .project-box a:hover i{
    transform: translateX(8px);
   }
   .project-box p{
    padding: 1rem;
    color:var(--second-color);
    font-weight: 500;
    font-size: .9rem;
   }
   .project-box a i{
    padding: 0 .5rem 0 .5rem;
    transition: all .45s ease;
   }

   .tech{
    margin: 1rem;
   }
   .tech img{
    width:30px;
    padding: 0;
    margin: 0 .5rem 0 .5rem;
   }
  .projects{
 
    padding: 100px 15% 120px;
  }
  .projects .main-text{
    
  }
  .projects .main-text p {
    
    margin-bottom:0;
   
}
.download-btn{
    margin-left: 4rem;
    color: #FFF;
    background-color: var(--main-color);
    padding: .6rem;
    border-radius: 5px;
}
.download-btn i{
    margin: 0 .2rem 0 .2rem;
    transition: all .45s ease;
}
.download-btn:hover{
    color: #FFF;

}
.download-btn:hover i{
  
    transform: translateY(8px);
}


.footer .section{
    background-color: var(--main-color);
    
    padding: 50px 15% 10px 15%;
    
}
.footer .section .main-footer{
    display: flex;
    justify-content: space-between;
}
.footer .contact-box .home_social{
    display:flex;
    align-items: center;
}
.footer .contact-box{
  
    align-items: center;
}
.footer .nav-box{
   
    
    
}
.footer .nav-box .nav-list{
    display:block;
}

.footer .contact-box .home_social i{
    color: #EAEBE8;
    margin-left: 2rem;
}
.footer .nav-list a{
    color: #EAEBE8;
  
}
.footer .nav-list a:hover{
    
    text-decoration: underline;
  
}

.footer .copyright-footer{
    margin:1rem 0 1rem 0;
   
}
.copyright{
    text-align: center;
}
.footer hr{
    border: none;
    border-top: 2px solid #FFF;
    
}
.footer .copyright p{
color: #EAEBE8;
}





   



























   @media(max-width:1480px) {

       header {
           padding: 12px 2.5%;
           transition: .1s;
       }

       section {
           padding: 110px 3% 60px;
       }

       .end {
           padding: 15px 3%;
       }

   }

   @media(max-width:1100px) {
       :root {
           --big-font: 4rem;
           --h2-font: 2.5rem;
           --p-font: 1rem;
           transition: .1s;
       }

       .home {
           height: 87vh;
       }

       .hometext h3 {
           font-size: 2.5rem;
       }
       .education-box h3{
        font-size: 1.2rem;
       }
   }

   @media(max-width:920px) {
       .about {
           grid-template-columns: 1fr;
       }

       .about-img {
           text-align: center;
           order: 2;

       }

       .about-img img {
           width: 60%;
           height: auto;
           max-width: 60%;
       }

       .contact {
           grid-template-columns: 1fr;
       }

       .logo {
           font-size: 1rem;
       }
   }








   @media(max-width:890px) {

    .section {
        padding: 40px 15px 30px;
    }
    .footer .section{
       
        padding: 40px 15px 10px 15px;
        
    }

       .open-bar {
           display: block !important;

       }

       .navlist {
           position: absolute;
           top: -1000px;
           right: 0;
           left: 0;
           display: flex;
           flex-direction: column;
           background: var(--bg-color);
           text-align: center;
           transition: all .45s ease;

       }

       .navlist a {
           display: block;
           margin: 17px;
           font-size: 20px;
           transition: all .45 ease;

       }

       .navlist.open {
           top: 100%;
       }


       .home.section {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           position: relative;

       }

       .home_container {

           display: flex;
           flex-direction: column;
           /* Stack the elements vertically */
           align-items: center;
           padding: 1rem;
           border-radius: 5px;
           position: fixed;
           z-index: 1000;
           bottom: 1rem;
           box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);

       }

       .home_content {
           grid-template-columns: 1fr;
           /* Display a single column */
           padding-top: 1.5rem;
           /* Adjust the top padding */
           text-align: center;
           /* Center align the content */
           margin: 0;
           padding: 0;
           align-items: center;
           justify-content: center;
       }

       .home_social {
           display: flex;
           grid-template-columns: max-content;
           column-gap: 2rem;
           justify-content: center;
           /* Center align the icons */

       }

       .home_social-icon {
           font-size: 1.25rem;
           color: var(--text-color);
       }

       .home-text {
           margin: 0;
       }

       .skills-content {
        grid-template-columns: repeat(auto-fit, minmax(80px, auto));
      
    }
    .footer .contact-box{
        display:none;
    }
    .footer .nav-box .navlist{
        display:block;
    }

   }

   @media(max-width:500px) {
       :root {
           --big-font: 3rem;
           --h2-font: 2.5rem;
           --p-font: 1rem;
           transition: .1s;
       }

       .home-text h3 {
           font-size: 1.5rem;
           font-weight: 700;
           color: var(--text-color);
           list-style: 1.1;
           margin: 0 0 35px;
       }

       .home_social {
           display: flex;
           grid-template-columns: max-content;
           column-gap: 1.5rem;
           justify-content: center;
           /* Center align the icons */

       }

       .about-img img {
           width: 100%;
           height: auto;
           max-width: 100%;
       }
       .education-span{
        display: block;
       }


   }
   @media(max-width:365px) {


    .education-content h2{
        font-size: 0.7rem;
       }
       .education-content h3{
        font-size: 1rem;
       }
       .education-span{
        font-size: .6rem;
        color: var(--text-color);
       }

   }

   @media(max-width:340px) {
       :root {
           --big-font: 2rem;
           --h2-font: 2.5rem;
           --p-font: 1rem;
           transition: .1s;
       }

       .home-text h3 {
           font-size: 1.5rem;
           font-weight: 700;
           color: var(--text-color);
           list-style: 1.1;
           margin: 0 0 35px;
       }
       .education-content h2{
        font-size: 0.7rem;
       }
       .education-content h3{
        font-size: 1rem;
       }
       .education-span{
        font-size: .6rem;
        color: var(--text-color);
       }
   }