* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'nexa', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}

a {
    text-decoration: none;

}

:root {

    --bg-color: #FFFFFF;
    --second-bg-color: #E8EAE3;
    --text-color: #0B4141;
    --second-color: #FAF0DC;
    --main-color: #007BFF;
    --big-font: 5rem;
    --h2-font: 2.5rem;
    --p-font: 1.1rem;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 22px 12%;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    transition: all .45s ease;


}


header .logo {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color)
}

header .logo:hover i {
    color: var(--main-color)
}

header .logo:hover {
    color: var(--main-color)
}

header .logo:hover span {
    color: var(--text-color)
}

header i {
    margin-left: .5rem;
}

header a span {
    color: var(--main-color);
}

.explore-a {
    font-size: 1rem;
    border: 1px solid;
    padding: .8rem;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 3px;
    transition: all .45s ease;
}

.mobile-button {
    display: none;
}

.mobile-button {
    padding: .8rem;
}

.explore-a i {
    transition: all .45s ease;
}

.explore-a:hover {

    background-color: var(--bg-color);
    color: var(--main-color);
}

.explore-a:hover i {
    transform: translateY(8px);
}


.home {
    position: relative;
    justify-content: center;
    top: 60px;




}

.home video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
    opacity: .5;
}



.search-box {

    margin: auto;
    margin-bottom: 1rem;
    display: block;
    width: 20rem;
    padding: 0 1rem 0;
    text-align: center;


}

.search-box h3 {
    display: none;
}

.input-box {

    display: flex;
    justify-content: space-between;
}

.amount-box,
.from-box,
.to-box {

    text-align: center;
    margin-bottom: 1rem;
    display: block;
    width: 20rem;
    padding: 0 1rem 0;

}

.output-box {

    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 2rem auto;
    padding: 0 1rem 0;
}

.convert-a {
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: .4rem 2.5rem .4rem 2.5rem;
    border-radius: 2px;
    border: 1px solid var(--main-color);
    transition: all .45s ease;
    font-size: 1rem;

}

.convert-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.convert-btn .convert-a:hover {
    background-color: var(--bg-color);
    color: var(--main-color);

}

.convert-btn .convert-a:hover i {

    color: var(--main-color);

}

.convert-btn i {


    text-align: center;
    padding: .5rem;

    font-size: 1rem;
    color: var(--bg-color);
}

.content h3 {
    padding: .5rem 0 0.2rem 0;
    margin-bottom: .2rem;


}

.content input {
    height: 2rem;
    width: 100%;
    border-radius: 2px;
    padding: .5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.content input:focus {
    border-radius: 2px solid #555;
}

.box {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    padding: 10rem 3rem 10rem 3rem;
    background-color: var(--bg-color);
    border-radius: 2px;
}

select {

    height: 2rem;
    width: 100%;
    border-radius: 2px;
    padding: .5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);

}


select:focus {

    border: 2px solid var(--main-color);
    border-radius: 2px;
    ;
}



.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 1.5rem;

    padding: 50px 12% 50px;



}

.row {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.explore-currencies {
    padding: 120px 0 50px;
    text-align: center;


}

.explore-currencies .viewAll {
    font-size: 1rem;
    border: none;
    padding: .8rem 2rem;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 3px;
    transition: all .45s ease;
    border: 1px solid;

}

.viewAll i {

    transition: all .45s ease;
}

.viewAll:hover {

    background-color: var(--bg-color);
    color: var(--main-color);
}

.viewAll:hover i {

    transform: translateX(8px);
}



.container {
    display: flex;
    justify-content: space-between;
    text-align: center;


}

.table {
    margin: 10px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;


}

.table th {
    color: var(--text-color);
}

tbody tr td:first-child {

    font-weight: bold;
    /* Example: Make the text in the first column bold */
    color: #32CD32;
}

tbody tr td:nth-child(2) {
    color: #FF0000;

}

.exchangeRates {
    padding: 100px 12% 100px;
    text-align: center;



}

.exchangeRates .title {

    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;

}

.exchangeRates .title h1 {

    margin-bottom: 2rem;
}

.exchangeRates .title #date {
    font-size: 1rem;
    font-weight: bold;
}

.exchangeRates .title #base {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--main-color);
}

.exchangeRates .title #base span {
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

.viewAll-clicked {
    display: inline-block;
}

.exchangeRates .viewAll {
    font-size: 1rem;
    border: none;
    padding: .8rem 2rem;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 3px;
    transition: all .45s ease;


}

#viewAllBtn {
    display: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.title {
    margin-top: 3rem;
}



.footer .section {
    background-color: #f2f2f2;

    padding: 40px 12% 10px;

}

.footer .section .main-footer {
    display: flex;
    justify-content: space-between;
}

.footer .contact-box .home_social {
    display: flex;
    align-items: center;
}


.footer .contact-box {

    align-items: center;
  
}

.footer .nav-box .nav-list {
    display: block;
}
.footer .nav-box .nav-list li{
   margin-top: .5rem;
}

.footer .contact-box .home_social i {
    color: var(--text-color);
    margin-left: 2rem;
    font-size: 1.5rem;
}

.footer .nav-list a {
    color: var(--text-color)

}

.footer .nav-list a:hover {

    text-decoration: underline;

}

.footer .copyright-footer {
    margin: 2rem 0 2rem 0;

}

.copyright {
    text-align: center;
}

.footer hr {
    border: none;
    border-top: 2px solid var(--text-color);
    margin-bottom: 1rem;

}

.footer .copyright p {
    color: var(--text-color)
}



















@media(max-width:1480px) {

    header {

        padding: 22px 15%;
        transition: .1s;
    }





}

@media(max-width:1100px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }




}

@media(max-width:920px) {}








@media(max-width:890px) {

    header {
        padding: 20px 2.5%;
    }

    .home {
        height: 100vh;
    }

    .input-box {

        display: block;

    }

    .home video {

        width: 100vw;
        height: 50vh;

    }

    .amount-box,
    .from-box,
    .to-box {

        width: 100%;
    }

    .search-box {
        width: 100%;
    }

    .output-box {

        width: 100%;
    }

    .table2,
    .table3 {
        display: none;
    }

    .exchangeRates {
        padding: 0 1rem 2rem;




    }

    .container {

        display: inline-block;

    }

    #viewAllBtn {
        display: inline-block;
    }

}

@media(max-width:500px) {
    :root {
        --big-font: 3rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }



    .explore-a {
        display: none;
    }

    .home video {

        width: 100vw;
        height: 50vh;

    }

    .mobile-button-div {

        text-align: center;


    }

    .mobile-button {
        display: inline-block;
    }

    .box {
        padding: 2rem;
    }

    .content {
        padding: 100px 6% 100px;

    }

    .amount-box,
    .from-box,
    .to-box {

        padding: 0;
    }

    .search-box {
        padding: 0;
    }

    .output-box {


        padding: 0;
    }

    .footer .section {

        padding: 20px 12% 5px;
    

    }

}

@media(max-width:380px) {
    :root {
        --big-font: 2rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home video {

        width: 100vw;
        height: 50vh;

    }

    .content {
        padding: 50px 6% 50px;

    }

}